# EasyConnect 登录配置
EC_VER=7.6.3
EC_SERVER_URL=https://vpn.shiep.edu.cn
EC_USERNAME=2022xxxx
EC_PASSWORD=xxxx@suep

# 容器运行配置
VPN_CONTAINER_NAME=easyconnect_vpn


# 充值默认信息
FEE_USER = 2022xxxx
FEE_PASSWORD = xxxx@suep
FEE_ROOM = B122
FEE_BUILDING = C1 # C1-C9分别对应1-9号学生公寓
FEE_SITE = http://10.50.2.206:80/
FEE_AMOUNT = 1
FEE_UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 Edg/133.0.0.0'
FEE_DELAY = 3